html, body {
    width: 100%;
    font-family: 'Kohinoor Telugu', sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header {
    background-color: #2B4F61;
    height: 120px;
    color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.date {
    width: calc(100%/3);
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
}

.title {
    width: calc(100%/3);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.content_body {
    display: flex;
    min-height: 100vh;
}

.menu {
    width: 25%;
    background-color: #71989B;
}

.menu_content {
    width: 75%;
    background-color: #70707017;
}

.menu_content > .content {
    display: block;
    text-align: center;
}

.menu_content .content img {
    width: 80px;
    cursor: pointer;
}

.menu_content .content .text {
    color: #707070;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 25px;
}

.menu_content .content .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_content .content .heading img {
    width: 60px;
    cursor: pointer;
    padding-left: 35px;
}

.menu_content .content .heading .text {
    font-size: 25px;
    padding-right: 35px;
    margin-top: 20px;
}

.menu_content .content .todos {
    display: block;
    
}

.menu_content .content .todos .todo,
.menu_content .content .todos .completed .completed_todo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    margin: 10px 20px;
    border-radius: 5px;
    height: 50px;
}

.menu_content .content .todos .completed .completed_todo {
    background-color: #70707040;
    padding-left: 32px;
    padding-right: 32px;
}

.completed_todo span {
    text-decoration: line-through;
    color: #707070CC;
}

.menu_content .content .todos .todo .left,
.menu_content .content .todos .todo .right {

    display: flex;
    justify-content: space-between;
    width: 30%;
    color: #707070;

    padding-left: 32px;
    padding-right: 32px;
}

.menu_content .button {
   border: none; 
   height: 25px;
   border-radius: 5px;
   font: inherit;
   font-size: 13px;
   color: white;
}

button.complete {
    background-color: #0AA027;
    width: 100px;
}

button.edit {
    background-color: #E4960E;
    width: 80px;
}

button.delete {
    background-color: #E30000;
    width: 80px;
}

.menu_content .divider {
    margin-top: 50px;
}

.menu_content .content .todos .completed .completed_heading {
    text-align: left;
    margin: 10px 50px;
    font-size: 20px;
    color: #707070;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: 450;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}

.project img {
    cursor: pointer;
}

.proj_btn {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    background-color: #2B4F6164;

    border: .5px solid #2B4F61;
}

.proj_btn:hover {
    background-color: rgba(43, 79, 97, 0.267);
}

.proj_btn.active {
    background-color: rgba(43, 79, 97, 0.644);
}

.overlay {
    display: none;
    opacity: 0;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    transition: opacity .3s;
}

.popup {
    display: none;
    opacity: 0;
    width: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;

    background-color: white;
}

.open {
    display: block;
    opacity: 1;
}

.popup > img {
    width: 40px;
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;   
    cursor: pointer;
}

.form_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 40px;

    width: 100%;
    height: 100%;
}

.add_project_form,
.add_todo_form {
    width: 100%;
}

.btn_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.btn_div button {
    font: inherit;
    font-size: 25px;
    color: white;
    width: 40%;
    height: 40px;
    background-color: #2B4F61;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.input_div,
.select_div,
.textarea_div,
.dueDate_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.input_div input,
.select_div select,
.textarea_div textarea,
.dueDate_div input {
    width: 60%;
    /* height: 40px; */
    font: inherit;
    color: #707070;
    border: .9px solid #707070;
    border-radius: 4px;
    padding: 5px;

    box-sizing: border-box;
}

.more_option,
.less_option {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
    margin-top: 20px;
    color: #707070;

    margin-bottom: 20px;
}

.less_option {
    display: none;
}

.more_option img,
.less_option img {
    width: 40px;
}

/* .select_div {
    margin-top: 20px;
} */

.select_div select {
    appearance: none;
    /* padding-right: 15px; */
    background-image: url('../images/expand_more.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 3px) center;
    background-size: 35px;
}

.textarea_div textarea {
    height: 100px;
    /* margin-top: 20px; */
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    /* color: #aaa; */
    margin-right: 0.5em;
    /* width: 100%; */
  }

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/date.svg');
}

.hidden {
    display: none;
    opacity: 0;
}

.hidden.open {
    display: block;
    opacity: 1;
}